@charset "UTF-8";

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: rgb(106, 113, 145);
    text-align: justify;
}

#inicial {
    text-align: center;
}

.basico {
    color: #174e0b;
    text-indent: 25px;
}
.intermediario {
    color: rgb(255, 255, 59);
    text-indent: 25px;
}
.avancado {
    color: #812;
    text-indent: 25px;
}

