@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: #5CA3A0;
}

header {
    background-color: #F8A089;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color:#944b38;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(110, 34, 34);
    color: #EFCB7C;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #EFCB7C;
    color: black;
    border-top: 2px solid black;
}

menu > ul > li > a:hover {
    background-color: #b39149;
}

main {
    width: 90vw;
    background-color: #2f6865;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}