@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #14423B, #436750);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #16151593;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #161515;
    text-align: center;
    text-shadow: 1px 1px 2px #16151586;
}

h2 {
    color: #77A752;
    text-align: center;
}

p {
    text-align: justify;
}